<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Para Glassfish es importante tener esta referencia en el web.xml -->
    <!-- Esta referencia es empleada para que busque la unidad de persistencia -->
    <!-- como JNDI desde la configuracion de Spring -->
    <!-- http://static.springsource.org/spring/docs/3.2.x/spring-framework-reference/html/orm.html#orm-jpa-setup-jndi -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>persistence/GCH_PU</persistence-unit-ref-name>
        <persistence-unit-name>GCH_PU</persistence-unit-name>
    </persistence-unit-ref>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
