<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop.xsd
   http://www.springframework.org/schema/jee
   http://www.springframework.org/schema/jee/spring-jee.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/security
   http://www.springframework.org/schema/security/spring-security.xsd">
    <!-- INICIO configuracion manipulacion de datos -->
    <!-- Configuracion de DI usando anotaciones -->
    <!-- http://static.springsource.org/spring/docs/3.2.x/spring-framework-reference/html/beans.html#beans-annotation-config -->
    <context:annotation-config />
    <!-- Se hace busqueda del entityManagerFactory mediante JNDI -->
    <!-- http://static.springsource.org/spring/docs/3.2.x/spring-framework-reference/html/orm.html#orm-jpa-setup-jndi -->
    <jee:jndi-lookup id="entityManagerFactory" jndi-name="persistence/GCH_PU"/>
    <!-- Detecta el servidor sobre el que se ejecuta y elige el mejor -->
    <!-- transaction-manager disponible para la plataforma. -->
    <!-- http://static.springsource.org/spring/docs/3.2.x/spring-framework-reference/html/transaction.html#transaction-application-server-integration -->
    <tx:jta-transaction-manager/>
    <!-- FIN beans de fuente de datos -->
    <!-- INICIO Beans propios de la aplicacion -->
    <bean id="profesorDao" class="pe.edu.cibertec.gch.dao.ProfesorDaoImpl" />
    <bean id="gestorProfesor" class="pe.edu.cibertec.gch.gestores.GestorProfesorImpl">
        <constructor-arg ref="profesorDao" />
    </bean>
    <bean id="logging" class="pe.edu.cibertec.gch.aspectos.AspectoLogging" />
    <!-- FIN Beans propios de la aplicacion -->
    
    <!-- INICIO delimitacion configurable de transacciones -->
    <!-- Si la delimitacion se desea hacer empleando anotaciones en el codigo, -->
    <!-- descomentar esta linea, comentar el txAdvice y su <aop:advisor> -->
    <tx:annotation-driven />
    <tx:advice id="txAdvice">
        <tx:attributes>
            <!-- todos los metodos que empiecen con listar y buscar son de solo lectura -->
            <tx:method name="listar*" read-only="true" />
            <tx:method name="buscar*" read-only="true" />
            <!-- otros metodos usaran la configuracion de transacciones por defecto -->
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
    <!-- FIN delimitacion de transacciones -->
    
    <!-- INICIO configuracion de AOP -->
    <aop:config>
        <aop:pointcut id="gestoresPointcut"
                      expression="execution(* pe.edu.cibertec.gch.gestores.Gestor*.*(..))" />
        <!-- Ejecucion del advice de transacciones antes y despues del pointcut -->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="gestoresPointcut" />
        <aop:aspect id="logging" ref="logging">
            <aop:before pointcut-ref="gestoresPointcut"
                        method="registrarOperacion"/>
        </aop:aspect>
    </aop:config>
    <!-- FIN configuracion de AOP -->

    <!-- INICIO configuracion seguridad -->
    <sec:http auto-config="true" use-expressions="true">
        <sec:intercept-url pattern="/index.jsp" access="permitAll" />
        <sec:intercept-url pattern="/img/**" access="permitAll" />
        <sec:intercept-url pattern="/js/**" access="permitAll" />
        <sec:intercept-url pattern="/css/**" access="permitAll" />
        <sec:intercept-url pattern="/iniciarSesion" access="permitAll" />   
        <!-- solo el usuario con el rol ROLE_ADMIN puede acceder a este recurso -->
        <sec:intercept-url pattern="/irRegistroProfesor" access="hasRole('ROLE_ADMIN')" />
        <sec:intercept-url pattern="/**" access="isAuthenticated()" />
        <sec:form-login login-page="/iniciarSesion" username-parameter="usuario" password-parameter="clave" />
        <sec:logout />
        <!-- a esta pagina se ira cuando no se tenga acceso -->
        <sec:access-denied-handler error-page="/index.jsp" />
    </sec:http>
    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="cibertec" password="123" authorities="ROLE_USER" />
                <sec:user name="admin" password="admin" authorities="ROLE_ADMIN" />
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>
    <!-- FIN configuracion seguridad -->
</beans>
